.BurgerForm {
	width: 20%;
    min-width: 300px;
    background-color: #a70a0a;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 40px auto;
    padding: 20px 0;
}

.Price {
    color: white;
    font-size: 18px;
    font-weight: bold;
}